APP_NAME='password_generator'
API_VERSION='/api/v1'
PASSWORD_LENGTH=20
INCLUDE_NUMBERS=true
INCLUDE_LOWERCASE_CHARS=true
INCLUDE_UPPERCASE_CHARS=true
INCLUDE_SPECIAL_CHARS=true
BACKEND_CORS_ORIGINS=["http://localhost","http://localhost:4200","http://localhost:3000","http://localhost:8080","https://localhost","https://localhost:4200","https://localhost:3000","https://localhost:8080","http://127.0.0.1:8000"]
